
      
      <%- include('header')%>
      
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Form Basic</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-6">
              <div class="card">
           <form class="form-horizontal" method="post" action="/update_admin/<%= adminDetails._id %>" enctype="multipart/form-data">

                  <div class="card-body">
                    <h4 class="card-title">Personal Info</h4>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >First Name</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          id="fname"
                          name="fname"
                          value="<%=adminDetails.name.split(" ")[0]%>"
                          placeholder="First Name Here"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Last Name</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          id="lname"
                          name="lname"
                          value="<%=adminDetails.name.split(" ")[1]%>"
                          placeholder="Last Name Here"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="email"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Email</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                          value="<%=adminDetails.email%>"
                          placeholder="Email Here"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Password</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="password"
                          class="form-control"
                          id="lname"
                          name="password"
                           value="<%=adminDetails.password%>"
                          placeholder="Password Here"
                        />
                      </div>
                    </div>
                  <div class="form-group row">
                    <label class="col-md-3">Gender</label>
                    <div class="col-md-9">
                      <div class="form-check">
                        <input
                          type="radio"
                          class="form-check-input"
                          id="customControlValidation1"
                          name="gender"
                          value="male"
                          <%if(adminDetails.gender == 'male'){%> checked <%}%>
                          required
                        />
                        <label
                          class="form-check-label mb-0"
                          for="customControlValidation1"
                          >Male</label
                        >
                      </div>
                      <div class="form-check">
                        <input
                          type="radio"
                          class="form-check-input"
                          id="customControlValidation2"
                          name="gender"
                          value="female"
                          <%if(adminDetails.gender == 'female'){%> checked <%}%>
                          required
                        />
                        <label
                          class="form-check-label mb-0"
                          for="customControlValidation2"
                          >Female</label
                        >
                      </div>
                    
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3">Hobby</label>
                    <div class="col-md-9">
                      <div class="form-check mr-sm-2">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="customControlAutosizing1"
                          name="hobby[]"
                          value="reading"
                          <%if(adminDetails.hobby.includes('reading')){%> checked <%}%>
                        />
                        <label
                          class="form-check-label mb-0"
                          for="customControlAutosizing1"
                          >Reading</label
                        >
                      </div>
                      <div class="form-check mr-sm-2">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="customControlAutosizing2"
                          name="hobby[]"
                          value="cycling"
                           <%if(adminDetails.hobby.includes('cycling')){%> checked <%}%>
                        />
                        <label
                          class="form-check-label mb-0"
                          for="customControlAutosizing2"
                          >Cycling</label
                        >
                      </div>
                      <div class="form-check mr-sm-2">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="customControlAutosizing3"
                         name="hobby[]"
                          value="advanture"
                           <%if(adminDetails.hobby.includes('advanture')){%> checked <%}%>
                        />
                        <label
                          class="form-check-label mb-0"
                          for="customControlAutosizing3"
                          >Advanture</label
                        >
                      </div>
                    </div>
                  </div>
                    <div class="form-group row">
                      <label
                        for="cono1"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Message</label
                      >
                      <div class="col-sm-9">
                        <textarea class="form-control" name="message"><%=adminDetails.message%></textarea>
                      </div>
                    </div>
                      <div class="form-group row">
                    <label class="col-md-3">File Upload</label>
                    <div class="col-md-9">
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input"
                          id="validatedCustomFile"
                          name="avatar"
                        />
                       <% if (adminDetails.avatar) { %>
                        
                      <img src="../<%= adminDetails.avatar %>" style="height: 50px; margin-top: 10px;" />
                      <% } %>
                        <label
                          class="custom-file-label"
                          for="validatedCustomFile"
                          >Choose file...</label
                        >
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="border-top">
                    <div class="card-body">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            
           
            </div>
          
          </div>
          <!-- editor -->
        
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Right sidebar -->
          <!-- ============================================================== -->
          <!-- .right-sidebar -->
          <!-- ============================================================== -->
          <!-- End Right sidebar -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        
        <%- include('footer')%>