<%- include("../partials/header") %>
<h2>All Products</h2>
<a href="/product/pro_add">Add New Product</a>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Sub Category</th>
    <th>Category</th>
  </tr>
  <% products.forEach(p => { %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.price %></td>
      <td><%= p.subCategory ? p.subCategory.name : "N/A" %></td>
      <td><%= p.category ? p.category.name : "N/A" %></td>
    </tr>
  <% }) %>
</table>
<%- include("../partials/footer") %>
